In [1]:
## Uncomment to Run once when we start the Notebook to install dependencies
## !pip install pandas
##!pip install matplotlib
##!pip install -U ortools

In [2]:
# Will allow us to embed Plots in the notebook
%matplotlib inline

In [3]:
from __future__ import print_function
import datetime
import sqlite3
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

import time


## max Width of Notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## See 500 rows and 500 columns in a DF
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

## Importing OR tools Knapsack Solver
from ortools.algorithms import pywrapknapsack_solver

In [4]:
## Choose escp Directory path and data area and if you need to retain this Snapshot of the calculation

escpdirectory = '/Users/karundutt/escp-Solver/db'
sqlitedbname = 'solver.db'

snapshot_retain='Y'
snapshotN = int(datetime.datetime.now().strftime('%s') )
print ("Starting timestamp: %d" %snapshotN)
iteration=0

## Enter the chages for vCPU and RAM GB per month in Cents 
chargecentspermonthvcpu=1615.3221
chargecentspermonthramgb=216.5107

Starting timestamp: 1562364430

In [5]:
# Create the connection to Master DB
cnx = sqlite3.connect(r'%s/%s' %(escpdirectory, sqlitedbname))

In [6]:
## Update the charges on the VMConfig and DB details
## We are assuming
## AAS = 1.5 vCPU
## RAM needed = 2 * SGA

cur = cnx.cursor()      
cur.execute('begin transaction')
        
cur.execute('''update vmconfig 
               set CENTSPERMONTHVCPU = ACTUALVCPU * %d, 
               CENTSPERMONTHRAMGB = ACTUALRAMGB * %d
            ''' % (chargecentspermonthvcpu, chargecentspermonthramgb))

cur.execute('''update dbdetails 
               set CENTSPERMONTH = (AAS * 1.5 * %d) + (SGA * 2 * %d) 
            ''' % (chargecentspermonthvcpu, chargecentspermonthramgb))

cur.execute('commit')

cur.close()

In [7]:
dfvm = pd.read_sql_query('''
                            select vmconfig.VMTYPE as VMTYPE, 
                                   vmconfig.MAXVCPU as MAXVCPU, 
                                   vmconfig.MAXIOPS as MAXIOPS, 
                                   vmconfig.MAXMBPS as MAXMBPS, 
                                   vmconfig.MAXSGA  as MAXSGA,
                                   vmconfig.ACTUALVCPU as ACTUALVCPU,
                                   vmconfig.ACTUALRAMGB as ACTUALRAMGB, 
                                   vmconfig.CENTSPERMONTHVCPU as CENTSPERMONTHVCPU,
                                   vmconfig.CENTSPERMONTHRAMGB as CENTSPERMONTHRAMGB
                            from vmconfig
                            ''' , cnx)
display(dfvm)

,VMTYPE,MAXVCPU,MAXIOPS,MAXMBPS,MAXSGA,ACTUALVCPU,ACTUALRAMGB,CENTSPERMONTHVCPU,CENTSPERMONTHRAMGB
0,hm-2,1,15000,40,6,2,13.0,3230,2808
1,hm-4,2,15000,80,13,4,26.0,6460,5616
2,hm-8,6,25000,160,26,8,52.0,12920,11232
3,hm-16,14,25000,320,52,16,104.0,25840,22464
4,hm-32,30,25000,640,104,32,208.0,51680,44928
5,hm-64,61,25000,1300,208,64,416.0,103360,89856
6,hm-96,93,25000,1950,312,96,624.0,155040,134784
7,s-2,1,15000,40,3,2,7.5,3230,1620
8,s-4,2,15000,80,7,4,15.0,6460,3240
9,s-8,6,25000,160,15,8,30.0,12920,6480
10,s-16,14,25000,320,30,16,60.0,25840,12960
11,s-32,30,25000,640,60,32,120.0,51680,25920
12,s-64,61,25000,1300,120,64,240.0,103360,51840
13,s-96,93,25000,1950,180,96,360.0,155040,77760

In [8]:
df = pd.read_sql_query('''
                            select dbdetails.DBNAME as DBNAME,
                                   dbdetails.IOPS   as IOPS,
                                    dbdetails.MBPS   as MBPS,
                                   cast (round(dbdetails.AAS * 1.5) as INTEGER) as VCPU,
                                   dbdetails.SGA as SGA,
                                   cast (round(dbdetails.CENTSPERMONTH) as INTEGER) as CENTSPERMONTH,
                                   dbdetails.GB     as GB,
                                   round(dbdetails.GB*1.2) as DataDiskGB,
                                   dbdetails.AAS  as AAS,
                                    dbdetails.SGA * 2  as RAM                                 
                            from dbdetails
                            ''' , cnx)
display(df)

,DBNAME,IOPS,MBPS,VCPU,SGA,CENTSPERMONTH,GB,DataDiskGB,AAS,RAM
0,BILLHIST,29,1,9,18,22311,716,859.0,6,36
1,ETLBMD,914,213,9,18,22311,296,355.0,6,36
2,HPI,26,0,9,18,22311,16,19.0,6,36
3,LDORADO,2335,191,18,72,60174,472,566.0,12,144
4,LOGHIST,21,0,9,18,22311,1312,1574.0,6,36
5,MINT,115,58,9,48,35271,189,227.0,6,96
6,MLS,5423,1923,147,24,247773,479,575.0,98,48
7,NWPROP,1233,84,14,96,63275,192,230.0,9,192
8,ORAPROP,3149,477,14,72,52907,1302,1562.0,9,144
9,POSTPC,808,456,12,45,38820,1743,2092.0,8,90
10,PROPA,3584,373,15,72,55329,1029,1235.0,10,144
11,PROPB,1740,232,11,72,48062,639,767.0,7,144
12,SIRS,34,0,9,18,22311,42,50.0,6,36
13,SLITE,4015,794,39,192,145929,704,845.0,26,384
14,TRANSHPI,39,2,9,30,27495,225,270.0,6,60

In [9]:
# Create the solver.
solver = pywrapknapsack_solver.KnapsackSolver( pywrapknapsack_solver.KnapsackSolver.KNAPSACK_MULTIDIMENSION_CBC_MIP_SOLVER, "DBAllocate")

In [10]:
    dfv=df.copy()
    print ('To allocate : %d databases' % len(dfv))
    display(dfv)
    track = "ALL"
    environment = "PROD"
    servergroup="DEMO-101"
    dbrole = "PRIMARY"
    
    iteration = 0

To allocate : 15 databases

,DBNAME,IOPS,MBPS,VCPU,SGA,CENTSPERMONTH,GB,DataDiskGB,AAS,RAM
0,BILLHIST,29,1,9,18,22311,716,859.0,6,36
1,ETLBMD,914,213,9,18,22311,296,355.0,6,36
2,HPI,26,0,9,18,22311,16,19.0,6,36
3,LDORADO,2335,191,18,72,60174,472,566.0,12,144
4,LOGHIST,21,0,9,18,22311,1312,1574.0,6,36
5,MINT,115,58,9,48,35271,189,227.0,6,96
6,MLS,5423,1923,147,24,247773,479,575.0,98,48
7,NWPROP,1233,84,14,96,63275,192,230.0,9,192
8,ORAPROP,3149,477,14,72,52907,1302,1562.0,9,144
9,POSTPC,808,456,12,45,38820,1743,2092.0,8,90
10,PROPA,3584,373,15,72,55329,1029,1235.0,10,144
11,PROPB,1740,232,11,72,48062,639,767.0,7,144
12,SIRS,34,0,9,18,22311,42,50.0,6,36
13,SLITE,4015,794,39,192,145929,704,845.0,26,384
14,TRANSHPI,39,2,9,30,27495,225,270.0,6,60

In [11]:
## Create the Dataframes to work with the Solver and to hold Retained Solutions    
dfr = pd.DataFrame(columns=['DBNAME','IOPS','MBPS','VCPU','SGA','GB','DataDiskGB','TRACK', 'ENVIRONMENT','SERVERGROUP', 'DBROLE', 'SNAPSHOT','ITERATION', 'MAXIOPS','MAXMBPS','MAXVCPU','MAXSGA', 'VMTYPE', 'VMVCPU', 'VMRAMGB', 'VMCENTSPERMONTH'])
    

# We build the Iterations that are least wasteful and store them in All Iterations Table as well
dfall = pd.DataFrame(columns=['SERVERGROUP','DBROLE','ITERATION','VMTYPE','MAXIOPS','MAXMBPS','MAXVCPU','MAXSGA','ACTUALVCPU','ACTUALRAMGB','VMCENTSPERMONTHVCPU','VMCENTSPERMONTHRAMGB','XTRACENTSPERMONTHVCPU','XTRACENTSPERMONTHRAMGB', 'VMUSAGE'])


print("working on : %s - %s" % (servergroup, dbrole))
snapshotN = snapshotN + 20
snapshot = str(snapshotN)
print(snapshot)

working on : DEMO-101 - PRIMARY
1562364450

In [12]:

while len(dfv) > 0:
        oldlendfv = len(dfv)
        dfallit = pd.DataFrame(columns=['SERVERGROUP','DBROLE','ITERATION','VMTYPE','MAXIOPS','MAXMBPS','MAXVCPU','MAXSGA','ACTUALVCPU','ACTUALRAMGB','VMCENTSPERMONTHVCPU','VMCENTSPERMONTHRAMGB','XTRACENTSPERMONTHVCPU','XTRACENTSPERMONTHRAMGB', 'VMUSAGE'])
     
        ## Start with Current iteration + 1 and find the Highest Utilization  
        iteration = iteration + 1
        dfvm = pd.read_sql_query('''
                            select vmconfig.VMTYPE as VMTYPE, 
                                   vmconfig.MAXVCPU as MAXVCPU, 
                                   vmconfig.MAXIOPS as MAXIOPS, 
                                   vmconfig.MAXMBPS as MAXMBPS, 
                                   vmconfig.MAXSGA  as MAXSGA,
                                   vmconfig.ACTUALVCPU as ACTUALVCPU,
                                   vmconfig.ACTUALRAMGB as ACTUALRAMGB, 
                                   vmconfig.CENTSPERMONTHVCPU as CENTSPERMONTHVCPU,
                                   vmconfig.CENTSPERMONTHRAMGB as CENTSPERMONTHRAMGB,
                                   %d as ITERATION
                            from vmconfig
                            ''' % iteration , cnx)
        ##display(dfvm)
        for index, row in dfvm.iterrows():
            vmtype  = row['VMTYPE']
            maxiops = row['MAXIOPS']
            maxmbps = row['MAXMBPS']
            maxvcpu = row['MAXVCPU']
            maxsga  = row['MAXSGA']
            actualvcpu = row['ACTUALVCPU']
            actualramgb = row['ACTUALRAMGB']
            iteration = row['ITERATION']
            vmcentspermonthvcpu = row['CENTSPERMONTHVCPU']
            vmcentspermonthramgb = row['CENTSPERMONTHRAMGB']
            
            capacities = [maxiops, maxmbps, maxvcpu, maxsga]
            ##print(vmtype, capacities)
            
            v = dfv.to_numpy(copy=True).transpose()
            dbnames=v[0].tolist()
            observations=np.array([i for i in v[1:5]], dtype=np.int32).tolist()
            gb=np.array(v[5], dtype=np.int32).tolist()
            
            ##print (servergroup, dbrole, iteration, vmtype, dbnames)
            
            
            ## Solve for Capacities and Observations
            solver.Init(gb, observations, capacities)
            numItemsServed = solver.Solve()
            ## Check Solution
            dbsallocated = [x for x in range(0, len(observations[0])) if solver.BestSolutionContains(x)]
            ##print(dbsallocated)
            dfselected=dfv.iloc[dbsallocated ]
            ##display(dfselected)
            
            ## Calculate Usage of Cents and Extra Capacities for the Selected databases in this vmtype
            totalvcpu = dfselected['VCPU'].sum()
            totalramgb = dfselected['SGA'].sum()
            
            
            xtracentspermonthvcpu  = vmcentspermonthvcpu - (totalvcpu * chargecentspermonthvcpu)
            xtracentspermonthramgb = vmcentspermonthramgb - (totalramgb * chargecentspermonthramgb)
            xtracents = xtracentspermonthvcpu + xtracentspermonthramgb
            actualcents = (totalvcpu * chargecentspermonthvcpu) + (totalramgb * chargecentspermonthramgb)
            vmcents = vmcentspermonthvcpu + vmcentspermonthramgb
            
            ##print("Vmtype : %s Total Cents/Mnth: %d VCPUCents/Mnth : %d  RAMCents/Mnth : %d" %(vmtype,vmcents, vmcentspermonthvcpu, vmcentspermonthramgb  ))
            
    
            
            if xtracents > 0 :
                xtracents = xtracents  ##Unchanged 
            else:
                xtracents = 0.0001     ## To have a Non-zero denominator
            
            
            
            
            ##vmusage = efficiency * (totalvcpu * chargecentspermonthvcpu + totalramgb * chargecentspermonthramgb)
            vmusage =  actualcents * actualcents/xtracents
            
            ## Append into  All Temporary Iterations dataframe
            
            lendfallit=len(dfallit)
            dfallit.at[lendfallit + 1 ,'SERVERGROUP' ]              = servergroup
            dfallit.at[lendfallit + 1 ,'DBROLE' ]                   = dbrole
            dfallit.at[lendfallit + 1 ,'ITERATION' ]                = iteration
            dfallit.at[lendfallit + 1 ,'VMTYPE' ]                   = vmtype
            dfallit.at[lendfallit + 1 ,'MAXIOPS']                   = maxiops 
            dfallit.at[lendfallit + 1 ,'MAXMBPS']                   = maxmbps
            dfallit.at[lendfallit + 1 ,'MAXVCPU']                   = maxvcpu
            dfallit.at[lendfallit + 1 ,'MAXSGA']                    = maxsga
            dfallit.at[lendfallit + 1 ,'ACTUALVCPU']                = actualvcpu
            dfallit.at[lendfallit + 1 ,'ACTUALRAMGB']               = actualramgb
            dfallit.at[lendfallit + 1 ,'VMCENTSPERMONTHVCPU' ]      = vmcentspermonthvcpu
            dfallit.at[lendfallit + 1 ,'VMCENTSPERMONTHRAMGB' ]     = vmcentspermonthramgb
            dfallit.at[lendfallit + 1 ,'XTRACENTSPERMONTHVCPU' ]    = xtracentspermonthvcpu
            dfallit.at[lendfallit + 1 ,'XTRACENTSPERMONTHRAMGB' ]   = xtracentspermonthramgb
            dfallit.at[lendfallit + 1 ,'VMUSAGE' ]                  = vmusage
            ## End of For Loop dfvm.iterrows
     
        ## Extract the Row from the Temporary data frame with max usage and insert it into Chosen Iterations dataframe
        display(dfallit)
        maxindex=dfallit['VMUSAGE'].astype('float64').idxmax()
        lendfall=len(dfall)
        dfall.at[lendfall+1,'SERVERGROUP']           = dfallit.at[maxindex, 'SERVERGROUP']
        dfall.at[lendfall+1,'DBROLE']                = dfallit.at[maxindex, 'DBROLE']
        dfall.at[lendfall+1,'ITERATION']             = dfallit.at[maxindex, 'ITERATION']
        dfall.at[lendfall+1,'VMTYPE']                = dfallit.at[maxindex, 'VMTYPE']
        dfall.at[lendfall+1 ,'MAXIOPS']              = dfallit.at[maxindex, 'MAXIOPS'] 
        dfall.at[lendfall+1 ,'MAXMBPS']              = dfallit.at[maxindex, 'MAXMBPS']
        dfall.at[lendfall+1 ,'MAXVCPU']              = dfallit.at[maxindex, 'MAXVCPU']
        dfall.at[lendfall+1 ,'MAXSGA']               = dfallit.at[maxindex, 'MAXSGA']
        dfall.at[lendfall+1 ,'ACTUALVCPU']           = dfallit.at[maxindex, 'ACTUALVCPU']
        dfall.at[lendfall+1 ,'ACTUALRAMGB']          = dfallit.at[maxindex, 'ACTUALRAMGB']
        dfall.at[lendfall+1,'VMCENTSPERMONTHVCPU']   = dfallit.at[maxindex, 'VMCENTSPERMONTHVCPU']
        dfall.at[lendfall+1,'VMCENTSPERMONTHRAMGB']  = dfallit.at[maxindex, 'VMCENTSPERMONTHRAMGB']
        dfall.at[lendfall+1,'XTRACENTSPERMONTHVCPU'] = dfallit.at[maxindex, 'XTRACENTSPERMONTHVCPU']
        dfall.at[lendfall+1,'XTRACENTSPERMONTHRAMGB']= dfallit.at[maxindex, 'XTRACENTSPERMONTHRAMGB']
        dfall.at[lendfall+1,'VMUSAGE']               = dfallit.at[maxindex, 'VMUSAGE']

        
        ## Remake variables to point to the Chosen Row (rather than the last one)
        servergroup = dfallit.at[maxindex, 'SERVERGROUP']
        dbrole  = dfallit.at[maxindex, 'DBROLE']
        vmtype  = dfallit.at[maxindex, 'VMTYPE'] 
        maxiops = dfallit.at[maxindex, 'MAXIOPS']
        maxmpbs = dfallit.at[maxindex, 'MAXMBPS']
        maxvcpu = dfallit.at[maxindex, 'MAXVCPU']
        maxsga  = dfallit.at[maxindex, 'MAXSGA']
        actualvcpu  = dfallit.at[maxindex, 'ACTUALVCPU'] 
        actualramgb = dfallit.at[maxindex, 'ACTUALRAMGB'] 
        vmcentspermonthvcpu = dfallit.at[maxindex, 'VMCENTSPERMONTHVCPU'] 
        vmcentspermonthramgb = dfallit.at[maxindex, 'VMCENTSPERMONTHRAMGB'] 
        
        ## Re-run the  Vm Type with Max Usage and Remove the Selected databases
        capacities = [maxiops, maxmbps, maxvcpu, maxsga]
        ##print(capacities)
            
        v = dfv.to_numpy(copy=True).transpose()
        dbnames=v[0].tolist()
        observations=np.array([i for i in v[1:5]], dtype=np.int32).tolist()
        gb=np.array(v[5], dtype=np.int32).tolist()
            
        print (" Allocate for ", servergroup, dbrole, iteration, vmtype, dbnames)
            
            
        ## Solve for Capacities and Observations
        solver.Init(gb, observations, capacities)
        numItemsServed = solver.Solve()
        ## Check Solution
        dbsallocated = [x for x in range(0, len(observations[0])) if solver.BestSolutionContains(x)]
        ##print(dbsallocated)
        dfselected=dfv.iloc[dbsallocated ]
        display(dfselected)
        ## Update Retained dataframe
        lendfr=len(dfr)
        for i in  range (0, len(dbsallocated)):
                dfr.at[lendfr+i,'DBNAME' ]           = dfv.at[dbsallocated[i], 'DBNAME']
                dfr.at[lendfr+i,'IOPS' ]             = dfv.at[dbsallocated[i], 'IOPS']
                dfr.at[lendfr+i,'MBPS' ]             = dfv.at[dbsallocated[i], 'MBPS']
                dfr.at[lendfr+i,'VCPU' ]             = dfv.at[dbsallocated[i], 'VCPU']
                dfr.at[lendfr+i,'SGA' ]              = dfv.at[dbsallocated[i], 'SGA']
                dfr.at[lendfr+i,'GB' ]               = dfv.at[dbsallocated[i], 'GB']
                dfr.at[lendfr+i,'DataDiskGB' ]       = dfv.at[dbsallocated[i], 'DataDiskGB']
                dfr.at[lendfr+i,'TRACK'] = track
                dfr.at[lendfr+i,'ENVIRONMENT'] = environment
                dfr.at[lendfr+i,'SERVERGROUP'] = servergroup
                dfr.at[lendfr+i,'DBROLE'] = dbrole
                dfr.at[lendfr+i,'SNAPSHOT']    = snapshot
                dfr.at[lendfr+i,'ITERATION']   = iteration
                dfr.at[lendfr+i,'MAXIOPS']     = capacities[0]
                dfr.at[lendfr+i,'MAXMBPS']     = capacities[1]
                dfr.at[lendfr+i,'MAXVCPU']     = capacities[2]
                dfr.at[lendfr+i,'MAXSGA']      = capacities[3]
                dfr.at[lendfr+i,'VMTYPE']      = vmtype
                dfr.at[lendfr+i,'VMVCPU']      = actualvcpu
                dfr.at[lendfr+i,'VMRAMGB']      = actualramgb
                dfr.at[lendfr+i,'VMCENTSPERMONTH']      =  vmcentspermonthvcpu + vmcentspermonthramgb
        
        ## Remove the selected databases and try again
        dfv=dfv.drop(df.index[dbsallocated]).reset_index(drop=True)
        print("Remaining to allocate : %d"% len(dfv))
        
        ## If we are not reducing the length of the array of databases to be allocated -- give up!
        if len(dfv) == oldlendfv:
            print("Not able to allocate these databases.. Giving up")
            display(dfv)
            break
        
        ## End of While Loop  len(dfv) > 0

,SERVERGROUP,DBROLE,ITERATION,VMTYPE,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,ACTUALVCPU,ACTUALRAMGB,VMCENTSPERMONTHVCPU,VMCENTSPERMONTHRAMGB,XTRACENTSPERMONTHVCPU,XTRACENTSPERMONTHRAMGB,VMUSAGE
1,DEMO-101,PRIMARY,1,hm-2,15000,40,1,6,2,13,3230,2808,3230,2808,0
2,DEMO-101,PRIMARY,1,hm-4,15000,80,2,13,4,26,6460,5616,6460,5616,0
3,DEMO-101,PRIMARY,1,hm-8,25000,160,6,26,8,52,12920,11232,12920,11232,0
4,DEMO-101,PRIMARY,1,hm-16,25000,320,14,52,16,104,25840,22464,11302.1,12071.5,26590.9
5,DEMO-101,PRIMARY,1,hm-32,25000,640,30,104,32,208,51680,44928,3220.34,24792.5,167969
6,DEMO-101,PRIMARY,1,hm-64,25000,1300,61,208,64,416,103360,89856,6440.67,45687.8,381858
7,DEMO-101,PRIMARY,1,hm-96,25000,1950,93,312,96,624,155040,134784,4815.04,67232.7,658265
8,DEMO-101,PRIMARY,1,s-2,15000,40,1,3,2,7.5,3230,1620,3230,1620,0
9,DEMO-101,PRIMARY,1,s-4,15000,80,2,7,4,15,6460,3240,6460,3240,0
10,DEMO-101,PRIMARY,1,s-8,25000,160,6,15,8,30,12920,6480,12920,6480,0
11,DEMO-101,PRIMARY,1,s-16,25000,320,14,30,16,60,25840,12960,11302.1,6464.68,24900.2
12,DEMO-101,PRIMARY,1,s-32,25000,640,30,60,32,120,51680,25920,8066.3,14228.4,137193
13,DEMO-101,PRIMARY,1,s-64,25000,1300,61,120,64,240,103360,51840,16132.6,25858.7,305211
14,DEMO-101,PRIMARY,1,s-96,25000,1950,93,180,96,360,155040,77760,48428.7,42035.7,223949

 Allocate for  DEMO-101 PRIMARY 1 hm-96 [' BILLHIST', ' ETLBMD', ' HPI', ' LDORADO', ' LOGHIST', ' MINT', ' MLS', ' NWPROP', ' ORAPROP', ' POSTPC', ' PROPA', ' PROPB', ' SIRS', ' SLITE', ' TRANSHPI']

,DBNAME,IOPS,MBPS,VCPU,SGA,CENTSPERMONTH,GB,DataDiskGB,AAS,RAM
0,BILLHIST,29,1,9,18,22311,716,859.0,6,36
1,ETLBMD,914,213,9,18,22311,296,355.0,6,36
2,HPI,26,0,9,18,22311,16,19.0,6,36
4,LOGHIST,21,0,9,18,22311,1312,1574.0,6,36
12,SIRS,34,0,9,18,22311,42,50.0,6,36
13,SLITE,4015,794,39,192,145929,704,845.0,26,384
14,TRANSHPI,39,2,9,30,27495,225,270.0,6,60

Remaining to allocate : 8

,SERVERGROUP,DBROLE,ITERATION,VMTYPE,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,ACTUALVCPU,ACTUALRAMGB,VMCENTSPERMONTHVCPU,VMCENTSPERMONTHRAMGB,XTRACENTSPERMONTHVCPU,XTRACENTSPERMONTHRAMGB,VMUSAGE
1,DEMO-101,PRIMARY,2,hm-2,15000,40,1,6,2,13,3230,2808,3230,2808,0
2,DEMO-101,PRIMARY,2,hm-4,15000,80,2,13,4,26,6460,5616,6460,5616,0
3,DEMO-101,PRIMARY,2,hm-8,25000,160,6,26,8,52,12920,11232,12920,11232,0
4,DEMO-101,PRIMARY,2,hm-16,25000,320,14,52,16,104,25840,22464,11302.1,12071.5,26590.9
5,DEMO-101,PRIMARY,2,hm-32,25000,640,30,104,32,208,51680,44928,17758.2,24792.5,68675.4
6,DEMO-101,PRIMARY,2,hm-64,25000,1300,61,208,64,416,103360,89856,30670.5,48935.5,162139
7,DEMO-101,PRIMARY,2,hm-96,25000,1950,93,312,96,624,155040,134784,45198.1,67882.2,276249
8,DEMO-101,PRIMARY,2,s-2,15000,40,1,3,2,7.5,3230,1620,3230,1620,0
9,DEMO-101,PRIMARY,2,s-4,15000,80,2,7,4,15,6460,3240,6460,3240,0
10,DEMO-101,PRIMARY,2,s-8,25000,160,6,15,8,30,12920,6480,12920,6480,0
11,DEMO-101,PRIMARY,2,s-16,25000,320,14,30,16,60,25840,12960,25840,12960,0
12,DEMO-101,PRIMARY,2,s-32,25000,640,30,60,32,120,51680,25920,32296.1,16177,17501.9
13,DEMO-101,PRIMARY,2,s-64,25000,1300,61,120,64,240,103360,51840,54900.3,26508.2,66887
14,DEMO-101,PRIMARY,2,s-96,25000,1950,93,180,96,360,155040,77760,92042.4,42035.7,72688.9

 Allocate for  DEMO-101 PRIMARY 2 hm-96 [' LDORADO', ' MINT', ' MLS', ' NWPROP', ' ORAPROP', ' POSTPC', ' PROPA', ' PROPB']

     DBNAME  IOPS  MBPS  VCPU  SGA  CENTSPERMONTH    GB  DataDiskGB  AAS  RAM
0   LDORADO  2335   191    18   72          60174   472       566.0   12  144
1      MINT   115    58     9   48          35271   189       227.0    6   96
4   ORAPROP  3149   477    14   72          52907  1302      1562.0    9  144
5    POSTPC   808   456    12   45          38820  1743      2092.0    8   90
6     PROPA  3584   373    15   72          55329  1029      1235.0   10  144

Remaining to allocate : 3

,SERVERGROUP,DBROLE,ITERATION,VMTYPE,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,ACTUALVCPU,ACTUALRAMGB,VMCENTSPERMONTHVCPU,VMCENTSPERMONTHRAMGB,XTRACENTSPERMONTHVCPU,XTRACENTSPERMONTHRAMGB,VMUSAGE
1,DEMO-101,PRIMARY,3,hm-2,15000,40,1,6,2,13,3230,2808,3230,2808,0
2,DEMO-101,PRIMARY,3,hm-4,15000,80,2,13,4,26,6460,5616,6460,5616,0
3,DEMO-101,PRIMARY,3,hm-8,25000,160,6,26,8,52,12920,11232,12920,11232,0
4,DEMO-101,PRIMARY,3,hm-16,25000,320,14,52,16,104,25840,22464,25840,22464,0
5,DEMO-101,PRIMARY,3,hm-32,25000,640,30,104,32,208,51680,44928,29065.5,24143,35398.9
6,DEMO-101,PRIMARY,3,hm-64,25000,1300,61,208,64,416,103360,89856,62976.9,53482.2,50589.5
7,DEMO-101,PRIMARY,3,hm-96,25000,1950,93,312,96,624,155040,134784,114657,98410.2,27651.4
8,DEMO-101,PRIMARY,3,s-2,15000,40,1,3,2,7.5,3230,1620,3230,1620,0
9,DEMO-101,PRIMARY,3,s-4,15000,80,2,7,4,15,6460,3240,6460,3240,0
10,DEMO-101,PRIMARY,3,s-8,25000,160,6,15,8,30,12920,6480,12920,6480,0
11,DEMO-101,PRIMARY,3,s-16,25000,320,14,30,16,60,25840,12960,25840,12960,0
12,DEMO-101,PRIMARY,3,s-32,25000,640,30,60,32,120,51680,25920,51680,25920,0
13,DEMO-101,PRIMARY,3,s-64,25000,1300,61,120,64,240,103360,51840,80745.5,31055,16847.2
14,DEMO-101,PRIMARY,3,s-96,25000,1950,93,180,96,360,155040,77760,114657,41386.2,37756.3

 Allocate for  DEMO-101 PRIMARY 3 hm-64 [' MLS', ' NWPROP', ' PROPB']

    DBNAME  IOPS  MBPS  VCPU  SGA  CENTSPERMONTH   GB  DataDiskGB  AAS  RAM
1   NWPROP  1233    84    14   96          63275  192       230.0    9  192
2    PROPB  1740   232    11   72          48062  639       767.0    7  144

Remaining to allocate : 1

,SERVERGROUP,DBROLE,ITERATION,VMTYPE,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,ACTUALVCPU,ACTUALRAMGB,VMCENTSPERMONTHVCPU,VMCENTSPERMONTHRAMGB,XTRACENTSPERMONTHVCPU,XTRACENTSPERMONTHRAMGB,VMUSAGE
1,DEMO-101,PRIMARY,4,hm-2,15000,40,1,6,2,13,3230,2808,3230,2808,0
2,DEMO-101,PRIMARY,4,hm-4,15000,80,2,13,4,26,6460,5616,6460,5616,0
3,DEMO-101,PRIMARY,4,hm-8,25000,160,6,26,8,52,12920,11232,12920,11232,0
4,DEMO-101,PRIMARY,4,hm-16,25000,320,14,52,16,104,25840,22464,25840,22464,0
5,DEMO-101,PRIMARY,4,hm-32,25000,640,30,104,32,208,51680,44928,51680,44928,0
6,DEMO-101,PRIMARY,4,hm-64,25000,1300,61,208,64,416,103360,89856,103360,89856,0
7,DEMO-101,PRIMARY,4,hm-96,25000,1950,93,312,96,624,155040,134784,155040,134784,0
8,DEMO-101,PRIMARY,4,s-2,15000,40,1,3,2,7.5,3230,1620,3230,1620,0
9,DEMO-101,PRIMARY,4,s-4,15000,80,2,7,4,15,6460,3240,6460,3240,0
10,DEMO-101,PRIMARY,4,s-8,25000,160,6,15,8,30,12920,6480,12920,6480,0
11,DEMO-101,PRIMARY,4,s-16,25000,320,14,30,16,60,25840,12960,25840,12960,0
12,DEMO-101,PRIMARY,4,s-32,25000,640,30,60,32,120,51680,25920,51680,25920,0
13,DEMO-101,PRIMARY,4,s-64,25000,1300,61,120,64,240,103360,51840,103360,51840,0
14,DEMO-101,PRIMARY,4,s-96,25000,1950,93,180,96,360,155040,77760,155040,77760,0

 Allocate for  DEMO-101 PRIMARY 4 hm-2 [' MLS']

Empty DataFrame
Columns: [DBNAME, IOPS, MBPS, VCPU, SGA, CENTSPERMONTH, GB, DataDiskGB, AAS, RAM]
Index: []

Remaining to allocate : 1
Not able to allocate these databases.. Giving up

  DBNAME  IOPS  MBPS  VCPU  SGA  CENTSPERMONTH   GB  DataDiskGB  AAS  RAM
0    MLS  5423  1923   147   24         247773  479       575.0   98   48

In [13]:
display(dfall)
display(dfr)

,SERVERGROUP,DBROLE,ITERATION,VMTYPE,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,ACTUALVCPU,ACTUALRAMGB,VMCENTSPERMONTHVCPU,VMCENTSPERMONTHRAMGB,XTRACENTSPERMONTHVCPU,XTRACENTSPERMONTHRAMGB,VMUSAGE
1,DEMO-101,PRIMARY,1,hm-96,25000,1950,93,312,96,624,155040,134784,4815.04,67232.7,658265
2,DEMO-101,PRIMARY,2,hm-96,25000,1950,93,312,96,624,155040,134784,45198.1,67882.2,276249
3,DEMO-101,PRIMARY,3,hm-64,25000,1300,61,208,64,416,103360,89856,62976.9,53482.2,50589.5
4,DEMO-101,PRIMARY,4,hm-2,15000,40,1,6,2,13,3230,2808,3230,2808,0

,DBNAME,IOPS,MBPS,VCPU,SGA,GB,DataDiskGB,TRACK,ENVIRONMENT,SERVERGROUP,DBROLE,SNAPSHOT,ITERATION,MAXIOPS,MAXMBPS,MAXVCPU,MAXSGA,VMTYPE,VMVCPU,VMRAMGB,VMCENTSPERMONTH
0,BILLHIST,29,1,9,18,716,859,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
1,ETLBMD,914,213,9,18,296,355,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
2,HPI,26,0,9,18,16,19,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
3,LOGHIST,21,0,9,18,1312,1574,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
4,SIRS,34,0,9,18,42,50,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
5,SLITE,4015,794,39,192,704,845,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
6,TRANSHPI,39,2,9,30,225,270,ALL,PROD,DEMO-101,PRIMARY,1562364450,1,25000,1950,93,312,hm-96,96,624,289824
7,LDORADO,2335,191,18,72,472,566,ALL,PROD,DEMO-101,PRIMARY,1562364450,2,25000,1950,93,312,hm-96,96,624,289824
8,MINT,115,58,9,48,189,227,ALL,PROD,DEMO-101,PRIMARY,1562364450,2,25000,1950,93,312,hm-96,96,624,289824
9,ORAPROP,3149,477,14,72,1302,1562,ALL,PROD,DEMO-101,PRIMARY,1562364450,2,25000,1950,93,312,hm-96,96,624,289824
10,POSTPC,808,456,12,45,1743,2092,ALL,PROD,DEMO-101,PRIMARY,1562364450,2,25000,1950,93,312,hm-96,96,624,289824
11,PROPA,3584,373,15,72,1029,1235,ALL,PROD,DEMO-101,PRIMARY,1562364450,2,25000,1950,93,312,hm-96,96,624,289824
12,NWPROP,1233,84,14,96,192,230,ALL,PROD,DEMO-101,PRIMARY,1562364450,3,25000,1950,61,208,hm-64,64,416,193216
13,PROPB,1740,232,11,72,639,767,ALL,PROD,DEMO-101,PRIMARY,1562364450,3,25000,1950,61,208,hm-64,64,416,193216